.containerSkill{
    /* width:90%;*/
    /* height:10px; */
/* border:2px solid red; */

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.myskills{
    /* border:1px solid red; */
    margin-left:5px;
    border-right:2px solid gray;
    padding:1rem;
}
.bdr-sm{
    border-bottom:2px solid gray;

}